<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body bgcolor="7cfcb8">
   
<a style="color:rgba(207, 0, 0, 1)" href="{% url "index" %}"><strong>переход на главную - index.html</strong></a>

<h1>Я шаблон Contacts.html</h1>

<h3 style="color:rgba(63, 14, 54, 1)"><strong>Здесь передаются шаблонные переменные data:</strong>

    <pre style="color:rgba(173, 21, 64, 1)"> {{ name_fone }}: {{ fone }}</pre>

    <pre style="color:rgba(173, 21, 64, 1)"> {{ name_mail }}: {{ mail }}</pre>

</h3>




</body>
</html>