<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body bgcolor="7cfcb8">
   

<h1>Я шаблон index.html</h1>


<h3 style="color:rgba(17, 114, 8, 1)">для просмотра страницы contacts введи в адресную строку - http://127.0.0.1:8000/contacts/</h3>

<h3 style="color:rgba(17, 114, 8, 1)">для просмотра страницы profile введи в адресную строку - http://127.0.0.1:8000/user/profile</h3>

<h3 style="color:rgba(17, 114, 8, 1)">для GET запроса profile введи в адресную строку - http://127.0.0.1:8000/profile</h3>
<p>для проверки GET запроса можно ввести данные</p>
<p>http://127.0.0.1:8000/profile/?name=John&age=39&phone=+79123456789&email=dmitry@email.com</p>

</body>
</html>